params {
    // custom genomes reference file paths
    genomes {
        'GRCh38_full_analysis_set_plus_decoy_hla' {
            // generic
            fasta       = "${params.custom_genome_base}/GRCh38_full_analysis_set_plus_decoy_hla/genome.fa"
            fai         = "${params.custom_genome_base}/GRCh38_full_analysis_set_plus_decoy_hla/genome.fa.fai"
        }
        'your_genome_label' {
            // generic
            fasta       = "/path/to/your/genome.fa"
            fai         = "/path/to/your/genome.fa.fai"
            hidepth     = "/path/to/your/HiDepth_mrg1000_no_exon_coreChrs_v3.bed.gz"
            hidepth_tbi = "/path/to/your/HiDepth_mrg1000_no_exon_coreChrs_v3.bed.gz.tbi"
            genome_gap  = "/path/to/your/genome.gap.tab"
            // vagrent
            genes = "/path/to/your/vagrent/codingexon_regions.indel.bed.gz"
            genes_tbi = "/path/to/your/vagrent/codingexon_regions.indel.bed.gz.tbi"
            vagrent_dir     = "/path/to/your/vagrent/dir"
            // caveman specific references
            caveman_flag_bed_dir = "/path/to/your/caveman/flagging"
            caveman_flag_config = "/path/to/your/caveman/flag.vcf.config.ini"
            caveman_flag_to_vcf_config = "/path/to/your/caveman/flag.to.vcf.convert.ini"
            caveman_unmatch_dir = "/path/to/your/caveman/unmatched_v5"
            caveman_ignore_contigs = "/path/to/your/caveman/ignore_contigs_caveman.txt"
            // pindel specific references
            simrep = "/path/to/your/pindel/simpleRepeats.bed.gz"
            simrep_tbi = "/path/to/your/pindel/simpleRepeats.bed.gz.tbi"
            pindel_unmatch_panel = "/path/to/your/pindel/pindel_np.v5.gff3.gz"
            pindel_unmatch_panel_tbi = "/path/to/your/pindel/pindel_np.v5.gff3.gz.tbi"
            pindel_bad_loci = "/path/to/your/HiDepth_mrg1000_no_exon_coreChrs_v3.bed.gz"
            pindel_bad_loci_tbi = "/path/to/your/HiDepth_mrg1000_no_exon_coreChrs_v3.bed.gz.tbi"
            pindel_soft_filter_rules = "/path/to/your/pindel/softRulesFragment.lst"
            pindel_filter_rules = "/path/to/your/pindel/WGS_Rules.lst"
            pindel_exclude = "/path/to/your/pindel/ignore_contigs_pindel.txt"
        }
    }
}
