manifest {
    name = 'config file for Sanger users, modified from The Wellcome Sanger Institute HPC cluster profile by Anthony Underwood (@aunderwo)'
    description = 'original config by Anthony Underwood (@aunderwo) https://www.sanger.ac.uk/group/informatics-support-group/'
}



process {
    resourceLimits = [
        memory: 2.9.TB,
        cpus: 256,
        time: 43200.min
        ]
    executor = 'lsf'
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 5

    queue = {
        if ( task.time >= 15.day ) {
            if ( task.memory > 680.GB ) {
                error "There is no queue for jobs that need >680 GB and >15 days"
            } else {
                "basement"
            }
        } else if ( task.memory > 720.GB ) {
            "teramem"
        } else if ( task.memory > 350.GB ) {
            "hugemem"
        } else if ( task.time > 7.day ) {
            "basement"
        } else if ( task.time > 2.day ) {
            "week"
        } else if ( task.time > 12.hour ) {
            "long"
        } else if ( task.time > 1.min ) {
            "normal"
        } else {
            "small"
        }
    }

    withName: manta {
        memory = { 10000.MB * task.attempt }
        queue = 'normal'
        cpus   = { 16     * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    withName: strelka {
        memory = { 5000.MB * task.attempt }
        queue = 'normal'
        cpus   = { 16     * task.attempt }
        time   = { 12.h  * task.attempt }
    }

}

executor {
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '5 sec'
    killBatchSize = 50
    queueSize = 500
}
